@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap");
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumbarungothic.css);*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap");

html,
body {
  height: 100%;
}
.modal-body {
  font-family: "Noto Serif KR", serif;
  font-size: 12pt;
}
.modal-body p {
  font-family: "Noto Serif KR", serif;
}
.modal-body .level4 p,
.modal-body .itex_example_tb p,
.modal-body .itex_normal_tb p,
.p_to_span {
  font-family: "Noto Serif KR", serif !important;
  font-size: 12pt;
}

p {
  line-height: 180%;
  padding: 0;
  margin: 0;
  font-size: 12pt;
}

.tox.tox-tinymce {
	height: 100% !important;
}

.type2 .tox.tox-tinymce {
	height: 90% !important;
}


/* 중간 기기들 (데스크탑, 992px 이상) */
@media (max-width: 992px) {
  .tox.tox-tinymce {
    /* position: fixed; */
    top: 0;
    z-index: 1;
    width: 100%;
  }
  .itex_viewer_area {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
  }
}
.tiny_wrap {
  z-index: 1;
}
.origin_img_area {
  width: 100%;
  border: 1px solid gray;
  background: #e7e7ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
}
/* .multi {
  width: 100%;
  border: 1px solid gray;
  background: #e7e7ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
} */
.cls_ebox {
  border: 1px solid black;
  padding: 15px;
}
.tools_wrap {
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  box-shadow: 1px 1px 1px grey;
  z-index: 9999;
}
.qnai_trans_form {
  position: fixed;
	z-index:9999999999;
  display: none;
  opacity: 0.8;
}
/*.tox.tox-tinymce{
	position: fixed;
}*/
.eq_config_show {
  bottom: 0px;
  animation-duration: 0.6s;
  animation-name: config_slidein;
}
@keyframes config_slidein {
  from {
    bottom: -470px;
  }
  to {
    bottom: 0px;
  }
}
.eq_config_hidden {
  bottom: -470px;
  animation-duration: 0.3s;
  animation-name: config_slideout;
}
@keyframes config_slideout {
  from {
    bottom: 0px;
  }
  to {
    bottom: -470px;
  }
}
#itex_log_out {
  display: none;
}
.itex-drag-area {
  background: #dc3545;
  width: 95%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.multi {
  background: skyblue;
  /* width: 95%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px; */
}
.itex-drag-area.active,
.itex-drag-area_multi.active {
  background: #ffca2c;
}
.itex-drag-area .icon,
.itex-drag-area_multi .icon {
  color: #fff;
}
.itex-drag-area .icon svg,
.itex-drag-area_multi .icon svg {
  width: 4em;
  height: 6em;
}
.itex-drag-area header,
.itex-drag-area_multi header {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.itex-drag-area span,
.itex-drag-area_multi span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.itex-drag-area button,
.itex-drag-area_multi button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.itex-drag-area input,
.itex-drag-area_multi input {
  display: none;
}
.itex-drag-area.itex_drag_hidden,
.itex-drag-area_multi.itex_drag_hidden {
  display: none;
}
.itex_viewer_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
  background: #fff;
}
.trans_area {
  width: 100%;
}
.itex_ocrimg_area {
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itex_img_pic1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.img-thumbnail {
  width: 100%;
  margin: 5px 0px 5px 0px;
  font-size: 11px;
}
.img-thumbnail-sel {
  box-shadow: 0px 1px 3px;
}
.bi-camera-fill {
  margin-right: 0.5em;
}
.pdf_page_s {
  border-radius: 0;
  width: 100%;
  padding: 0;
  padding: 0 5px 0 5px;
  min-width: 25px;
  display: inline-flex;
  justify-content: center;
}
.pdf_page_a {
  border-radius: 0;
  width: 100%;
  padding: 0;
  padding: 0 5px 0 5px;
  min-width: 25px;
  background: #ebe9e9;
  border: none;
  display: inline-flex;
  justify-content: center;
}
.pdf_page_show {
  display: flex;
}
.pdf_page_hidden {
  display: none;
}

.icommon_box {
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  /*height: 120px;*/
}
.itex_grp_hidden {
  display: none;
}
.level4 {
  padding: 7px;
}
.sel_list {
  background-color: rgba(229, 59, 255, 0.5);
  margin-bottom: 5px;
}
.sel_num_po {
  background-color: #ff0000;
}
.itexboxevt + g[data-mml-node="menclose"] rect {
  fill: #ff00003d;
}
.level1 {
  background-color: rgba(189, 121, 209, 0.7);
}
.level2 {
  background-color: rgba(209, 145, 121, 0.7);
}
.level3 {
  background-color: rgba(142, 209, 121, 0.7);
}
.level4 {
  background-color: rgba(0, 154, 255, 0.7);
}
.level5 {
  background-color: rgba(66, 93, 245, 0.3);
  margin-bottom: 10px;
}
.level6 {
  background-color: rgba(245, 66, 66, 0.7);
}
.level7 {
  background-color: rgba(255, 204, 0, 0.7);
}
.level8 {
  background-color: rgba(103, 103, 51, 0.7);
}
.level9 {
  background-color: rgba(0, 102, 153, 0.7);
}
.level10 {
  background-color: rgba(103, 0, 0, 0.7);
}

.p_to_span {
  display: inline-block;
  text-align: center;
  /* padding: 0; */
  /* margin: auto; */
  line-height: 140%;
  width: inherit;
  text-indent: 0;
}
mjx-assistive-mml {
  display: none;
}

.itex-fa-marker {
  border-style: none !important;
  border-collapse: collapse !important;
  vertical-align: middle !important;
}
.itex-la-fance {
  border-width: 1px !important;
  border-style: solid none solid solid !important;
  border-color: black !important;
  border-collapse: collapse !important;
  width: 8px !important;
}
.itex-ra-fance {
  border-width: 1px !important;
  border-style: solid solid solid none !important;
  border-color: black !important;
  border-collapse: collapse !important;
  width: 8px !important;
}
.itex-abox-body {
  border-style: none !important;
  min-width: 100px;
}

.itex_example_tb {
  border-collapse: collapse;
  border: none;
  margin: 15px 3px 10px 3px;
  position: relative;
}
.itex_title_icon {
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  height: 14px;
  font-size: 14px;
  line-height: 100%;
  left: 10px;
}
.itex_box_body {
  border: 1px solid black;
  padding: 8px 5px 8px 5px;
  width: 300px;
  border-radius: 3px;
}
.itex_temp_content_box {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}
.itex_temp_level6_box {
  margin-top: 25px;
  padding-top: 10px;
  border-top: 1px dashed gray;
}
.itex_temp_level7_box {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #8080802e;
}
.itex_ex_st {
  margin-left: 40px;
  background: aquamarine;
  font-weight: bold;
}
.p_to_span_parent {
  border: 1px solid black;
}
td {
  font-size: 12pt;
  font-family: "Noto Serif KR", sans-serif;
}
.exam_checksel {
  box-shadow: black 2px 2px 2px;
}
#exam_sortlist {
  white-space: nowrap;
  text-overflow: ellipsis;
}
#exam_sortlist .sel_big_co {
  background: rgba(251, 72, 72, 0.79) !important;
}
#exam_sortlist .sel_sm_co {
  background: rgba(251, 72, 72, 0.4) !important;
  margin-left: 15px !important;
}
#exam_sortlist .sel_ex_co {
  background: rgba(184, 248, 86, 0.92) !important;
}
#offcanvasWithBackdrop2 {
  /* width: 300px; */
  height: 100%;
  width: 100%;
  /* overflow: scroll; */
}
#exam_sortlist li {
  margin: 5px !important;
  padding: 5px !important;
}
.noise_image_check {
}

.itex_indent_0 {
  text-indent: 0 !important;
  margin-left: 0 !important;
}
.itex_indent_05 {
  text-indent: 0.5em !important;
  margin-left: 0 !important;
}
.itex_indent_1 {
  text-indent: 1em !important;
  margin-left: 0 !important;
}
.itex_indent_15 {
  text-indent: 1.5em !important;
  margin-left: 0 !important;
}
.itex_indent_2 {
  text-indent: 2em !important;
  margin-left: 0 !important;
}
.itex_indent_25 {
  text-indent: 2.5em !important;
  margin-left: 0 !important;
}
.itex_indent_3 {
  text-indent: 3em !important;
  margin-left: 0 !important;
}
.itex_indent_35 {
  text-indent: 3.5em !important;
  margin-left: 0 !important;
}
.itex_indent_4 {
  text-indent: 4em !important;
  margin-left: 0 !important;
}

.itex_indent_minus_0 {
  text-indent: 0 !important;
  margin-left: 0 !important;
}
.itex_indent_minus_05 {
  text-indent: -0.5em !important;
  margin-left: 0.5em !important;
}
.itex_indent_minus_1 {
  text-indent: -1em !important;
  margin-left: 1em !important;
}
.itex_indent_minus_15 {
  text-indent: -1.5em !important;
  margin-left: 1.5em !important;
}
.itex_indent_minus_2 {
  text-indent: -2em !important;
  margin-left: 2em !important;
}
.itex_indent_minus_25 {
  text-indent: -2.5em !important;
  margin-left: 2.5em !important;
}
.itex_indent_minus_3 {
  text-indent: -3em !important;
  margin-left: 3em !important;
}
.itex_indent_minus_35 {
  text-indent: -3.5em !important;
  margin-left: 3.5em !important;
}
.itex_indent_minus_4 {
  text-indent: -4em !important;
  margin-left: 4em !important;
}

.itex_indent_vert_0 {
  padding-left: 0 !important;
}
.itex_indent_vert_05 {
  padding-left: 0.5em !important;
}
.itex_indent_vert_1 {
  padding-left: 1em !important;
}
.itex_indent_vert_15 {
  padding-left: 1.5em !important;
}
.itex_indent_vert_2 {
  padding-left: 2em !important;
}
.itex_indent_vert_25 {
  padding-left: 2.5em !important;
}
.itex_indent_vert_3 {
  padding-left: 3em !important;
}
.itex_indent_vert_35 {
  padding-left: 3.5em !important;
}
.itex_indent_vert_4 {
  padding-left: 4em !important;
}

.itex_underline_box {
  width: 15em;
  display: inline-block;
  border-bottom: 1px solid black;
}
.itex_box_element > p {
  /*text-indent: -1.5em;*/
  padding-left: 1.5em;
}
.itex_box_element > p:first-child {
  text-indent: -1.5em;
}
.itex_normal_box {
  padding: 5px;
  border: solid black 1px;
}
.itexmath svg {
  max-width: 100%;
}
.itex_slash {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="gray" /></svg>') !important;
}
.itex_backslash {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>') !important;
}
.itex_slash,
.itex_backslash {
  text-align: left;
}

.itex_split_line {
  border: 1px dashed gray;
  margin-top: 15px;
  margin-bottom: 15px;
}
.itex_area_hidden {
  display: none;
}
.itex_hml_convert_view {
  overflow: auto;
  position: absolute;
  padding: 15px;
  border: 1px solid gray;
  width: 100%;
  height: 97% !important;
}
.quest {
  margin-bottom: 60px;
  border-bottom: 4px double red;
  padding-bottom: 10px;
}
#offcanvasWithBackdrop3 > .offcanvas-body {
  overflow-y: hidden;
}
