@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumbarungothic.css);*/
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.itex-magicbt {
  border: 2px red solid;
}
.itexmath {
  border: 1px dashed red;
}
.level1 {
  background-color: rgba(189, 121, 209, 0.7);
}
.level2 {
  background-color: rgba(209, 145, 121, 0.7);
}
.level3 {
  background-color: rgba(142, 209, 121, 0.7);
}
.level4 {
  background-color: rgba(0, 154, 255, 0.7);
}
.level5 {
  background-color: rgba(66, 93, 245, 0.3);
}
.level6 {
  background-color: rgba(245, 66, 66, 0.7);
}
.level7 {
  background-color: rgba(255, 204, 0, 0.7);
}
.level8 {
  background-color: rgba(103, 103, 51, 0.7);
}
.level9 {
  background-color: rgba(0, 102, 153, 0.7);
}
.level10 {
  background-color: rgba(103, 0, 0, 0.7);
}
.itex_doc_eng p {
  font-family: "Noto Serif KR", serif;
}

.itex_indent_0 {
  text-indent: 0;
  margin-left: 0;
}
.itex_indent_05 {
  text-indent: 0.5em;
  margin-left: 0;
}
.itex_indent_1 {
  text-indent: 1em;
  margin-left: 0;
}
.itex_indent_15 {
  text-indent: 1.5em;
  margin-left: 0;
}
.itex_indent_2 {
  text-indent: 2em;
  margin-left: 0;
}
.itex_indent_25 {
  text-indent: 2.5em;
  margin-left: 0;
}
.itex_indent_3 {
  text-indent: 3em;
  margin-left: 0;
}
.itex_indent_35 {
  text-indent: 3.5em;
  margin-left: 0;
}
.itex_indent_4 {
  text-indent: 4em;
  margin-left: 0;
}

.itex_indent_minus_0 {
  text-indent: 0;
  margin-left: 0;
}
.itex_indent_minus_05 {
  text-indent: -0.5em;
  margin-left: 0.5em;
}
.itex_indent_minus_1 {
  text-indent: -1em;
  margin-left: 1em;
}
.itex_indent_minus_15 {
  text-indent: -1.5em;
  margin-left: 1.5em;
}
.itex_indent_minus_2 {
  text-indent: -2em;
  margin-left: 2em;
}
.itex_indent_minus_25 {
  text-indent: -2.5em;
  margin-left: 2.5em;
}
.itex_indent_minus_3 {
  text-indent: -3em;
  margin-left: 3em;
}
.itex_indent_minus_35 {
  text-indent: -3.5em;
  margin-left: 3.5em;
}
.itex_indent_minus_4 {
  text-indent: -4em;
  margin-left: 4em;
}

.itex_indent_vert_0 {
  padding-left: 0;
}
.itex_indent_vert_05 {
  padding-left: 0.5em;
}
.itex_indent_vert_1 {
  padding-left: 1em;
}
.itex_indent_vert_15 {
  padding-left: 1.5em;
}
.itex_indent_vert_2 {
  padding-left: 2em;
}
.itex_indent_vert_25 {
  padding-left: 2.5em;
}
.itex_indent_vert_3 {
  padding-left: 3em;
}
.itex_indent_vert_35 {
  padding-left: 3.5em;
}
.itex_indent_vert_4 {
  padding-left: 4em;
}

.itex-magicbt {
  border: 2px red solid;
}
mjx-assistive-mml {
  display: none;
}

.sel_list {
  margin-bottom: 5px;
  align-items: baseline;
  background: #0000ff2b;
}
.sel_num_po {
  margin-right: 10px;
  background: #f4433685;
}

.metatag {
  color: white;
  border-radius: 3px;
}
.tag_bigcontent {
  background: #ff0000;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tag_content {
  background: #228b22;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tag_exam {
  background: #0000ff;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tag_exam_sm {
  background: #ffff00;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}
.tag_example {
  background: #00ffff;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}
.tag_choices {
  background: #ff00ff;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tl_answer {
  background: #ffa500;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tag_commentary {
  background: #800080;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tag_hint {
  background: #a52a2a;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.tag_concept {
  background: #ffc0cb;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}
.tag_title {
  background: #00ff00;
  color: #000000;
  font-weight: bold;
  padding-left: 5px;
}
.tag_tip {
  background: #008080;
  color: white;
  font-weight: bold;
  padding-left: 5px;
}
.itex_normal_tb {
  border-collapse: collapse;
  width: 299px;
  margin: 3px 3px 3px 3px;
}
.itex-fa-marker {
  border-style: none !important;
  border-collapse: collapse !important;
  vertical-align: middle !important;
}
.itex-la-fance {
  border-width: 1px !important;
  border-style: solid none solid solid !important;
  border-color: black !important;
  border-collapse: collapse !important;
  width: 8px !important;
}
.itex-ra-fance {
  border-width: 1px !important;
  border-style: solid solid solid none !important;
  border-color: black !important;
  border-collapse: collapse !important;
  width: 8px !important;
}
.itex-abox-body {
  border-style: none !important;
  min-width: 100px;
}
.p_to_span_parent {
  border: 1px solid black;
}
.cls_ebox,
cls_tb {
  margin-bottom: 5px;
}
td {
  font-size: 12pt;
  font-family: "Noto Serif KR", serif;
}
.itex_underline_box {
  width: 15em;
  display: inline-block;
  border-bottom: 1px solid black;
}
.itex_box_element > p {
  text-indent: -1.5em;
  padding-left: 1.5em;
}
.itexmath {
  border: 1px dashed red;
}
.itex_deco_underline {
  text-decoration: underline 2px !important;
}
mjx-container text {
  font-family: inherit;
  font-style: normal;
}
.itex_slash {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="gray" /></svg>') !important;
}
.itex_backslash {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>') !important;
}
.itex_slash,
.itex_backslash {
  text-align: left;
}

.itex_create_table {
  border-collapse: collapse;
}
.itex_create_table td {
  border: 1px black solid !important;
}
.cls_tb td {
  border: 1px black dashed !important;
}
